.home--container
  .home--text= "Lost id?"

  .search--container.js-search
    = text_field_tag :q, params[:q], class: 'search--input js-search-input', placeholder: 'Find by first name, last name, email...'
    .search--btn.js-search-btn Find Student
