.home--container
  .home--text= "Lost id?"

  .js-search
    = text_field_tag :q, params[:q], class: 'js-search-input', placeholder: 'Find by first name, last name, email...'
    .search-btn.js-search-btn Find Student
