%h1.message--headline= t('chats.index.headline')

#messages.message--items-block
  = render @messages

%form.message--form
  %label= t('chats.index.say')
  %br
  %input{ type: 'text', data: { behavior: 'chat_speaker' } }
