$namespace: '.home';

#{$namespace}--container {
  height: 85vh;
  background-image: image_url('dorm-room.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#{$namespace}--text {
  padding: $padding * 2 $padding * 4 0;
  font-size: $font-xx-big-size;
  font-weight: $font-weight-semi-bold;
}
