$namespace: '.object-form';

#{$namespace} {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;

  form {
    .row {
        margin-left: 0;
    }
  }

  .with-textarea {
    textarea {
      width: 700px;
      height: 300px;
    }
  }
}
